<section class="headerSection" id="particles-js">
  <div class="headerWrapper">
    <img class="artix-logo" src="../../favicon.ico">
    <a class="artixName">
      <span class="artixNameA">A</span>
      <span class="artixNameR">r</span>
      <span class="artixNameT">t</span>
      <span class="artixNameI">i</span>
      <span class="artixNameX">x</span>
      <!-- <span class="artixName-Group">
        - Group
      </span> -->
    </a>

    <div class="headerItemsWrapper">
      <button class="homeButton">
        Home
      </button>
      <button class="opportunitiesButton">
        Opportunities
      </button>
    </div>
  </div>
</section>