<section class="headerSection" id="particles-js">
  <div class="headerWrapper">
    <!-- <img class="artix-logo" src="../../favicon.ico"> -->
    <a class="artixName" routerLink="/artixhome">
      <span class="artixNameA">A</span>
      <span class="artixNameR">r</span>
      <span class="artixNameT">t</span>
      <span class="artixNameI">i</span>
      <span class="artixNameX">x</span>
      <!-- <span class="artixName-Group">
        - Group
      </span> -->
    </a>

    <div class="headerItemsWrapper">
      <button mat-button class="homeButton" (click)="gotoHome()">
        Home
      </button>
      <button mat-button class="opportunitiesButton" (click)="gotoOpportunities()">
        Opportunities
      </button>


    </div>
  </div>
</section>