@import "../../assets/Scss/color-variables";

.footer {
  width: 100%;
  height: auto;
  min-height: 60px;
  background: $artixPrimaryBlue;
  display: flex;
  align-items: center;
  justify-content: center;

  .copyright {
    margin: 0;
    color: #ffffff;
  }
}
