//Blue
$artixLightBlue: #f0f8ff;
$artixPrimaryBlue: #062a78;
$artixMidBlue: #0075b3;
$artixMidBlue2: #1974d2;
$artixBlueGreen: #d8e2de;
$artixLightBrown: #bfc1b3;
$artixVeryLightBrown: #faf4e2;
$artixPrimaryBrownDark: #7d5b30;
