//Blue
$artixLightBlue: #f0f8ff;
$artixPrimaryBlue: #062a78;
$artixMidBlue: #0075b3;
$artixMidBlue2: #1974d2;
$artixBlueGreen: #d8e2de;
$artixLightBrown: #bfc1b3;
$artixVeryLightBrown: #faf4e2;
$artixPrimaryBrownDark: #7d5b30;
$artixLightViolet: #0531af33;
$artixDarkPurple: #066378;
$artixLightPurple: #0c78c330;
$artixLightReddishBlue: #f7f0ff;
$artixVeryLightRed: #ffb4b442;


//Light Cool Colors  #fff8f0 #0c78c329
/*#0531af33
#066378
#0568af
red- #fff0f0
pink- #fff0ff
purple- #f8f0ff
green- #f0fff9
orange- #fff9f0

//Matching Dark
red- #780606
pink- #780661
purple- #4b0678
green- #067857
orange- #784406
greenishCoolyellow- #727806
greenishCoolBlue-#063f78
*/
