<section class="opportunitesSection">
  <div class="opportunitiesWrapper">
    <h1>
      Career Opportunities
    </h1>
    <p>
      Build a Career where passion meets your success. We do offer Paid and Unpaid Internships to provide an opportunity to those who are interested to build their 
      career in IT sector. Excited to explore, drop in your resume to <a href="mailto:admin@artixtechnologies.com">admin@artxtechnologies.com</a>
    </p>
    <div class="opportunities">
      <div class="tilesWrapper">
        <div class="opportunitiesTiles" id="hello" (click)="openDialog('Designer')">
          <img src="../../assets/Images/designer-min.png">
          <h2>
            Designer
          </h2>
        </div>
        <div class="opportunitiesTiles" (click)="openDialog('Front-End Developer')">
          <img src="../../assets/Images/frontend-min.png">
          <h2>
            Front-End Developer
          </h2>
        </div>
        <div class="opportunitiesTiles" (click)="openDialog('Back-End Developer')">
          <img src="../../assets/Images/backend-min.png">
          <h2>
            Back-End Developer
          </h2>
        </div>
      </div>
      <div class="tilesWrapper2">
        <div class="opportunitiesTiles" (click)="openDialog('Tester')">
          <img src="../../assets/Images/tester-min.png">
          <h2>
            Tester
          </h2>
        </div>
        <div class="opportunitiesTiles" (click)="openDialog('Full Stack Developer')">
          <img src="../../assets/Images/fullstack-min.jpeg">
          <h2>
            Full Stack Developer
          </h2>
        </div>
        <div class="opportunitiesTiles" (click)="openDialog('Project Manager')">
          <img src="../../assets/Images/pmanager-min.png">
          <h2>
            Project Manager
          </h2>
        </div>
      </div>

    </div>

    <button class="applynowButton" (click)="openDialog('Artix Member')" mat-raised-button>Apply Now</button>
  </div>
</section>