svg {
  display: block;
  margin: 0 auto;
}

path {
  fill: yellow;
  stroke: black;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.deersvg{
  height: 600px;
  width: 700px;;
}

@media only screen and (max-width: 600px) {

  .deersvg{
    height: 300px;
    width: 300px;;
  }
}