<!-- <section class="artixhomeImageSection">
  <div class="flip-card haveTalent">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <span class="welcomeText">Welcome</span>
        <span class="welcomeText">to</span>
        <span class="welcomeText">Artx</span>
      </div>
      <div class="flip-card-back">
        <h1>John Doe</h1>
        <p>Architect & Engineer</p>
        <p>We love that guy</p>
      </div>
    </div>
  </div>
  <img class="brand-image" src="../../assets/Images/artix.png">
  <div class="flip-card needExperience">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <span class="needExperienceText">
          First Company to encourage new talent and provide placement with training.
        </span>
        <button class="learnMoreButton" mat-raised-button>Learn More</button>
      </div>
      <div class="flip-card-back">
        <h1>John Doe</h1>
        <p>Architect & Engineer</p>
        <p>We love that guy</p>
      </div>
    </div>
  </div>
</section> -->

<section class="landingDisplay">
  <div class="welcomeTextWrapper">
    <h1 class="welcomeText">Welcome to Artx</h1>
  </div>
  <div aTilt class="rectDisplay rectDisplay1"></div>
  <div aTilt class="rectDisplay rectDisplay2"></div>
  <div aTilt class="rectDisplay rectDisplay3"></div>
  <div aTilt class="rectDisplay rectDisplay4"></div>
  <div aTilt class="rectDisplay rectDisplay5"></div>
  <div aTilt class="rectDisplay rectDisplay6"></div>
  <div aTilt class="rectDisplay rectDisplay7"></div>
</section>

<!-- AboutUs section -->

<section class="artixAboutUs">
  <div class="aboutusWrapper">
    <h2>About Artx</h2>
    <p class="aboutusText">
      Artx is a company started for providing web applications and software solutions for our Users. We are also a product company, we build new applications that are essential for people.
      We provide the best user experience in our products by using the latest technologies. Our goal is to provide useful and essential applications with great user experience.
      Our visionary is more focused on facilitating things more creatively and conviniently. We find and encourage new talents and ideas.
      <strong><a class="joinUs" (click)="navigateTocontactUS()">Join us</a></strong> to discover more.
    </p>
  </div>
  
  <div class="deer">
    <deer></deer>
  </div>
</section>
<section class="artixOpportunities">
    <div class="cube">
      <cube></cube>
      </div>
  <div class="opportunitiesWrapper">
    <h2>
      Opportunities
    </h2>
    <p class="opportunitiesText">
      At Artx, we work for our passion to give back the world something useful. Our team is full of enthusiastic people who wants to make the life easier for our users. 
      Come join us to challenge yourself and be more crerative.
    </p>
    <span class="opportunitieswrap">
      <ul>
        <li class="designerOpportunity">
          <a>
            Designer
          </a>
        </li>
        <li class="developerOpportunity">
          <a>
            Developer
          </a>
        </li>
      </ul>
      <ul>
        <li class="designerOpportunity">
          <a>
            Tester
          </a>
        </li>
        <li class="developerOpportunity">
          <a>
            Project Manager
          </a>
        </li>
      </ul>
    </span>
  </div>
  
  
</section>

<section autoscroll="true" id="target" class="artixContactUs">
  <div class="contactusWrapper">
    <h2>
      Contact Us
    </h2>
    <p class="contactusText">
      We are located in the city of Hyderabad, Telangana, India and operated from Canada. Feel free to get in touch with us if you have any queries.
    </p>
    <span class="artixDetails">
      <h3>
        Artx Technologies Pvt. Ltd.
      </h3>
      <span class="artixEmail">
        <strong>
          Email:
        </strong>
        <a>
          admin@artxtechnologies.com
        </a>
      </span>
      <span class="artixPhone">
        <strong>
          Phone:
        </strong>
        <a>
          +91-9087654432
        </a>
      </span>
    </span>
  </div>
  <div class="particles" id="aboutArtix">
  </div>
  </section>