<section class="artixhomeImageSection">
  <div class="flip-card haveTalent">
    <div class="flip-card-inner">
      <div class="flip-card-front">
      </div>
      <div class="flip-card-back">
        <h1>John Doe</h1>
        <p>Architect & Engineer</p>
        <p>We love that guy</p>
      </div>
    </div>
  </div>
  <img class="brand-image" src="../../assets/Images/artix.png">
  <div class="flip-card needExperience">
    <div class="flip-card-inner">
      <div class="flip-card-front">

      </div>
      <div class="flip-card-back">
        <h1>John Doe</h1>
        <p>Architect & Engineer</p>
        <p>We love that guy</p>
      </div>
    </div>
  </div>
</section>

<!-- AboutUs section -->

<section class="artixAboutUs">
  <div class="aboutusWrapper">
    <div class="playParticles"></div>

    <div class="aboutusText">
      <h2>About Artix</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fugit ut nihil magni ipsa! Eos iusto, distinctio
        culpa provident porro dolor debitis quas minus nostrum modi mollitia commodi consectetur earum. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Illum atque deserunt vitae hic asperiores iusto! Quaerat modi
        pariatur, deserunt neque sequi, aut facere in, quos delectus veniam exercitationem sit porro.
      </p>
    </div>
  </div>


</section>
<section class="artixOpportunities">

</section>