<!-- <section class="artixhomeImageSection">
  <div class="flip-card haveTalent">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <span class="welcomeText">Welcome</span>
        <span class="welcomeText">to</span>
        <span class="welcomeText">Artix</span>
      </div>
      <div class="flip-card-back">
        <h1>John Doe</h1>
        <p>Architect & Engineer</p>
        <p>We love that guy</p>
      </div>
    </div>
  </div>
  <img class="brand-image" src="../../assets/Images/artix.png">
  <div class="flip-card needExperience">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <span class="needExperienceText">
          First Company to encourage new talent and provide placement with training.
        </span>
        <button class="learnMoreButton" mat-raised-button>Learn More</button>
      </div>
      <div class="flip-card-back">
        <h1>John Doe</h1>
        <p>Architect & Engineer</p>
        <p>We love that guy</p>
      </div>
    </div>
  </div>
</section> -->

<section class="landingDisplay">
  <div class="welcomeTextWrapper">
    <h1 class="welcomeText">Welcome to Artix</h1>
  </div>
  <div aTilt class="rectDisplay rectDisplay1"></div>
  <div aTilt class="rectDisplay rectDisplay2"></div>
  <div aTilt class="rectDisplay rectDisplay3"></div>
  <div aTilt class="rectDisplay rectDisplay4"></div>
  <div aTilt class="rectDisplay rectDisplay5"></div>
  <div aTilt class="rectDisplay rectDisplay6"></div>
  <div aTilt class="rectDisplay rectDisplay7"></div>
</section>

<!-- AboutUs section -->

<section class="artixAboutUs">
  <div class="aboutusWrapper">
    <h2>About Artix</h2>
    <p class="aboutusText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fugit ut nihil magni ipsa! Eos
      iusto, distinctio
      culpa provident porro dolor debitis quas minus nostrum modi mollitia commodi consectetur earum. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Illum atque deserunt vitae hic asperiores iusto! Quaerat modi
      pariatur, deserunt neque sequi, aut facere in, quos delectus veniam exercitationem sit porro.
    </p>
  </div>
  <div class="particles" id="aboutArtix">

  </div>

</section>
<section class="artixOpportunities">
  <div class="cube">
    <app-deersvg></app-deersvg>
  </div>

  <div class="opportunitiesWrapper">
    <h2>
      Opportunities
    </h2>
    <p class="opportunitiesText">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi blanditiis ipsum commodi! Necessitatibus culpa quo
      similique deserunt obcaecati tempore optio ratione dolorum corrupti veniam, porro harum quas, quae dolore aut.
    </p>
    <ul>
      <li class="designerOpportunity">
        <a>
          Designer
        </a>
      </li>
      <li class="developerOpportunity">
        <a>
          Developer
        </a>
      </li>
    </ul>
  </div>


</section>

<section class="artixContactUs">
  <div class="contactusWrapper">
    <h2>
      Contact Us
    </h2>
    <p class="contactusText">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias alias tenetur laudantium expedita
      necessitatibus ducimus doloremque labore, magni quos quaerat itaque rerum ullam, et ab? Et, qui sint! A,
      praesentium.
    </p>
    <span class="artixDetails">
      <h3>
        Artix Technologies Pvt. Ltd.
      </h3>
      <span class="artixEmail">
        <strong>
          Email:
        </strong>
        <a>
          admin@artixtechnologies.com
        </a>
      </span>
      <span class="artixPhone">
        <strong>
          Phone:
        </strong>
        <a>
          +91-9087654432
        </a>
      </span>
    </span>
  </div>

</section>