@import "../../assets/Scss/color-variables";

.artixhomeImageSection {
  display: flex;
  justify-content: center;
  z-index: 998;
  margin-top: 60px;
  height: 70vh;

  .brand-image {
    flex: 2;
    height: auto;
    min-height: 80px;
    min-width: 50%;
    width: auto;
  }

  .haveTalent {
    flex: 0.8;
    height: auto;
    .flip-card-inner {
      .flip-card-front {
        background-color: #284a71;
        border-radius: 4px;
      }
      .flip-card-back {
        border-radius: 4px;
      }
    }

    &:hover {
      .flip-card-inner {
        transform: rotateY(-180deg);
        transition-delay: 0.2s;
      }
    }
  }
  .needExperience {
    flex: 0.8;
    height: auto;
    .flip-card-inner {
      .flip-card-front {
        background-color: #284a71;
        border-radius: 4px;
      }
      .flip-card-back {
        border-radius: 4px;
      }
    }

    &:hover {
      .flip-card-inner {
        transform: rotateY(180deg);
        transition-delay: 0.2s;
      }
    }
  }

  .flip-card {
    background-color: transparent;
    perspective: 1000px;
    display: flex;
    justify-content: center;

    .flip-card-inner {
      position: relative;
      width: 99%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

      .flip-card-front,
      .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
      }

      .flip-card-back {
        background-color: $artixMidBlue;
        color: white;
        transform: rotateY(180deg);
      }
    }
  }
}

.artixAboutUs {
  // background: $artixVeryLightBrown;
  min-height: 80px;
  height: 450px;
  padding: 5px 2px;
  border-radius: 10px;
  box-shadow: inset -10px -1px 12px 0px rgba(0, 0, 0, 0.08);

  .aboutusWrapper {
    display: flex;
    align-content: center;
    width: 100%;
    height: 100%;

    .playParticles {
      width: 40%;
      height: 100%;
      background: $artixPrimaryBlue;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .aboutusText {
      padding: 30px 100px;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-size: 40px;
        margin: 0;
        color: $artixPrimaryBrownDark;
      }

      p {
        line-height: 28px;
        font-size: 22px;
      }
    }
  }
}

.artixOpportunities {
  background: $artixLightBlue;
  min-height: 80px;
  height: 450px;
}
